body{
    padding:0px;
    margin:0px;
    background-color: #808080;
}


#div_continer{
    border: 1px solid red;
    float:left;
    width:80%;
}

#div_fruit_list{
    width:80%;
    height: 100%;
    margin-left:10%;
    border: 1px solid blue;
    background-color: honeydew;
    border-radius: 2%;
}

#tbl_fruit{
    width:60%;
    margin-top:16px;
    margin-left:20%;
    border: 1px solid gray;
    background-color: azure;
    border-collapse: collapse;
    text-align:center;
}

#tbl_fruit tr, #tbl_fruit th, #tbl_fruit td{
    border:1px solid black;
    border-collapse: collapse;
    color:black;
    font-size: 24px;
}

.delImg{
    width: 24px;
    height:24px;
}

.btn{
    border:1px solid lightgray;
    width:80px;
    height:24px;
}

#add_fruit_div{
    width:40%;
    margin-left:30%;
}

#add_fruit_tbl{
    width: 80%;
    margin-top:32px;
    margin-left: 10%;
    border-collapse: collapse;
}

#add_fruit_tbl, #add_fruit_tbl tr, #add_fruit_tbl td{
    border:1px solid lightgray;
    text-align: center;
    line-height: 28px;
}

.w30{
    width:30%;
}

.input{
    padding-left: 4px;
    border:1px solid lightgray;
    width: 90%;
}

.center{
    text-align: center;
}

.f30{
    font-size: 30px;
}